@import "normalize";
@import "colors";
@import "variables";


/* Header */

header {
	width: 100%;
}

.headerBar1 {
	width: 100%;
	height: 30px;
	background-color: $logoBarColor;
	img {
		width: auto;
		height: 30px;
	}
}

.headerBar2 {
	@extend .headerBar1;
	background-color: $menuBarColor; 
	height: auto;
}

.logoBar {
	max-width: 1200px;
	width: $headerWidth;
	margin: 0 auto;
}

nav {
	@extend .logoBar;
	border: none;
	padding: 10px 0;
	a {
		margin: 20px;
		padding: 20px 0;

	}
	a:first-child {
		margin-left: 0;
	}
}

/* Banner section */
#banner {
	width: 100%;
	min-height: 200px;
	max-height: 600px;
	border: 1px solid blue;
	background-image: url("assets/img/banner.jpg");	
}